doc/MetaDoc.dtd

<?xml version="1.0" encoding="utf-8"?>

<!-- ---------------------------------------------------------- -->
<!--			MetaDoc					-->
<!--								-->
<!-- MetaDoc is Client oriented. All traffic is initiated by	-->
<!-- the client.						-->
<!--								-->
<!-- Since everything is initiated by the client, the metadoc	-->
<!-- standard assumes that the server will never actively start -->
<!-- anything. Thus, if a client want an updated list of users,	-->
<!-- it must ask for it.					-->
<!--								-->
<!-- Under no circumstances will the server push data to the	-->
<!-- client without first being asked for it, it will *always*	-->
<!-- return data as part of the response generated from the	-->
<!-- client's request						-->
<!--								-->
<!-- Note:							-->
<!-- the standard assumes that the channel is properly		-->
<!-- authenticated and authorized and thus the target host is	-->
<!-- given implicitly by this and is therefore not included in	-->
<!-- the DTD.							-->
<!--								-->
<!-- Elements:							-->
<!-- users	: List of users to add/modify/remove (AMR).	-->
<!-- projects	: AMR						-->
<!-- allocations: List of allocations for a project.		-->
<!-- events	: New events from the site.			-->
<!-- siteInfo	: Info about the site.				-->
<!--								-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT MetaDoc
	  (users?,
	  projects?,
	  allocations?,
	  events?,
	  software?,
	  config?,
	  receipt?)>

<!-- version:	the verion of MetaDoc being used.		-->
<!-- site_name: the shortname of the site			-->
<!ATTLIST MetaDoc
	  version	CDATA		#REQUIRED
	  site_name	CDATA		#REQUIRED>

<!-- ---------------------------------------------------------- -->
<!--								-->
<!--			USER					-->
<!--								-->
<!-- The element will either be a request for user-update, or a -->
<!-- list of new users.						-->
<!-- From the request generated by the client, the server will	-->
<!-- either produce a complete list of users, or a partial list	-->
<!-- with changes since the provided date			-->
<!--								-->
<!-- type:							-->
<!--		request:	the client requests an update	-->
<!--				of the user(s)			-->
<!--		date:		Date of the oldest record in the-->
<!--				set				-->
<!-- fullUpdate Whether or not the returned set from the server -->
<!--		is a complete set or just a partial set of	-->
<!--		users.						-->
<!--								-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT users (user_entry+)>
<!ATTLIST users
	  type		(request|update)	#REQUIRED
	  date		NMTOKENS		#REQUIRED
	  fullUpdate	(yes|no)		#IMPLIED>

<!-- ---------------------------------------------------------- -->
<!--			USER ENTRY				-->
<!--								-->
<!-- Attributes:						-->
<!-- username		:					-->
<!-- full_name		: Full name of the (new)user		-->
<!-- password		: passwordhash for inital password	-->
<!-- default_group	: the default for the site.		-->
<!-- special_path	: the path for the user, given that the -->
<!--			  site has such a need, Bergen uses this-->
<!-- shell		: choses shell				-->
<!-- email		: supplied email-address (provided by	-->
<!--			  user when submitting the useraccount	-->
<!--			  submitting the useraccount application-->
<!-- phone		: supplied phone			-->
<!-- status		: If not set, it should be interpreted	-->
<!--			  as an existing user being modified.	-->
<!--				* A new account			-->
<!--				* update of existing		-->
<!--				* Delete a suspsended		-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT user_entry EMPTY>
<!ATTLIST user_entry
	  username	CDATA	#REQUIRED
	  uid		CDATA	#IMPLIED
	  full_name	CDATA	#IMPLIED
	  password	CDATA	#IMPLIED
	  default_group	CDATA	#IMPLIED
	  special_path	CDATA	#IMPLIED
	  shell		CDATA	#IMPLIED
	  email		CDATA	#IMPLIED
	  phone		CDATA	#IMPLIED
	  status	(new|existing|deactivate|delete) #IMPLIED>

<!-- ---------------------------------------------------------- -->
<!--								-->
<!--			PROJECT					-->
<!--								-->
<!-- This is the lists of new projects (or modified?) the site	-->
<!-- must handle.						-->
<!--								-->
<!-- type	if it is a requst or an update.			-->
<!-- date	Date of oldest element in the set		-->
<!-- fullUpdate	if the set shoul be or is, a complete set of	-->
<!--		data. This can be acheived by setting date to a -->
<!--		very early date. This his for verbosity and	-->
<!--		clarity.					-->
<!--								-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT projects (project_entry+)>
<!ATTLIST projects
	  type	(request|update)	#REQUIRED
	  date	NMTOKENS		#REQUIRED
	  fullUpdate (yes|no)		#IMPLIED>

<!-- ---------------------------------------------------------- -->
<!-- name	: The name of the project			-->
<!-- gid	: The group-id of the project			-->
<!-- valid_from	: From when the project is valid		-->
<!--		  I.e. from when it started			-->
<!-- valid_to	: When the project should			-->
<!--		  terminate					-->
<!-- status	: How the row should be treated			-->
<!--		  Either as a new project,			-->
<!--		  update of an existing project			-->
<!--		  or to remove a project form			-->
<!--		  the system.					-->
<!--								-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT project_entry (user_entry*)>
<!ATTLIST project_entry
	  name		CDATA	#REQUIRED
	  gid		CDATA	#REQUIRED
	  status	(new|existing|delete) #REQUIRED
	  account_nmb	CDATA	#REQUIRED
	  valid_from	CDATA	#REQUIRED
	  valid_to	CDATA	#IMPLIED>

<!-- ---------------------------------------------------------- -->
<!--								-->
<!--		    ALLOCATION					-->
<!--								-->
<!-- Describe total allocation per project for			-->
<!-- the current period						-->
<!--								-->
<!--								-->
<!-- account_nmb: reference to the account			-->
<!-- volume	: the amount of the resource a project can	-->
<!--		  consume					-->
<!-- metric	: What volume describes. e.g. CPU-hours, storage-->
<!-- class	: type of quota					-->
<!--		  e.g prioritized or non-prioritized.		-->
<!-- period	: e.g. 2009.1					-->
<!--								-->
<!--								-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT allocations (all_entry+)>
<!ELEMENT all_entry EMPTY>
<!ATTLIST all_entry
	  account_nmb	CDATA #REQUIRED
	  volume	CDATA #REQUIRED
	  metric	(hours|mb) # REQUIRED
	  all_class	(pri|nonpri) #REQUIRED
	  period	CDATA #REQUIRED>

<!-- ---------------------------------------------------------- -->
<!--			EVENT					-->
<!--	date_(up|down) should be in RFC 3339			-->
<!--	  format with second granularity			-->
<!--								-->
<!--	     2009-08-20 08:30:21+02:00				-->
<!--								-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT events	((resourceDown|resourceUp)*)>

<!ELEMENT remarks	(#PCDATA)>

<!ELEMENT resourceUp	(remarks?)>
<!ATTLIST resourceUp
	  id		ID	#REQUIRED
	  dateUp	CDATA	#REQUIRED
	  reason	CDATA	#IMPLIED>

<!ELEMENT resourceDown	(remarks?)>
<!ATTLIST resourceDown
	  id		ID	#REQUIRED
	  reason	CDATA	#REQUIRED
	  dateDown	CDATA	#REQUIRED
	  dateUp	CDATA	#REQUIRED
	  shareDown	CDATA	#REQUIRED>



<!-- ---------------------------------------------------------- -->
<!--		Software					-->
<!--								-->
<!-- List of installed software, probably read from a list of	-->
<!-- software that should be exported. The list should contain	-->
<!-- currently installed version etc.				-->
<!-- progName	:						-->
<!-- version	:						-->
<!-- license	: -						-->
<!-- infoURL	: where a user can find more information about	-->
<!--		  the sofware installed at the site.		-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT software (sw_entry+)>
<!ELEMENT sw_entry	EMPTY>
<!ATTLIST sw_entry
	  id		ID	#REQUIRED
	  progName	CDATA	#REQUIRED
	  version	CDATA	#REQUIRED
	  license	CDATA	#IMPLIED
	  infoURL	CDATA	#IMPLIED>

<!-- ---------------------------------------------------------- -->
<!--		Config						-->
<!-- Site-specific information including size, speed etc.	-->
<!-- element	: type of config-element described in this	-->
<!--		  record					-->
<!-- volume	: Number of <metric> unit in the given record	-->
<!-- metric	: type of volume for the resource described	-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT config (config_entry+)>
<!ELEMENT config_entry EMPTY>
<!ATTLIST config_entry
	  id		ID	#REQUIRED
	  element	(cores|nodes|totalDisk|
			 usedDisk|totalSwap|usedSwap|
			 totalMemory|usedMemory)
				#REQUIRED
	  metric	(count|MB|GB|TB)
				#REQUIRED
	  volume	CDATA	#REQUIRED>
<!-- ---------------------------------------------------------- -->
<!-- Receipts for uploaded data					-->
<!--								-->
<!-- Both success and error will be returned from the sever	-->
<!-- A list of error-codes will be published separatedly soon.	-->
<!--								-->
<!-- The entry-element can contain a longer message from the	-->
<!-- server							-->
<!--								-->
<!-- All elements must include:					-->
<!--	- ID the id assigned by the sender of the element to	-->
<!--	  identify the data.					-->
<!--	- code: the return-code, either error or success. The	-->
<!--		client is responsible for verifying this value	-->
<!--	- note:	A (voluntary, short) note to pass along to the	-->
<!--		client to help finding the root of the problem.	-->
<!-- ---------------------------------------------------------- -->
<!ELEMENT receipt (r_entry+)>
<!ELEMENT r_entry (PCDATA?)>
<!ATTLIST id	ID	#REQUIRED,
	  code	CDATA	#REQUIRED,
	  note	CDATA	#IMPLIED>
